{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.24876895-db19-4132-a1d3-041ef3d9b06a",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}